.article-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  width: 300px;
  border: 2px solid black;
  border-radius: 8px;
  /* margin: 15px; */
}

.article-card-title {
  text-align: center;
}