.article-details-container {
  display: flex;
  margin: 20px;
}

.detail-title {
  font-size: 40px;
}

.detail-abstract {
  font-size: 25px;
}

.detail-image {
  margin: 40px;
  box-shadow: .75em .75em 1em;
}

.info-container {
  border: 2px solid black;
  border-radius: 8px;
  margin: 25px;
  padding: 15px;
  box-shadow: .75em .75em 1em;
  background-color: #d5dded;
}