.form-container {
  height: 80vh;
  width: 20vw;
  border: 1px solid black;
  border-radius: 12px;
  margin: 20px;
  box-shadow: .75em .75em 1em;
  background-color: #d5dded;
}

.form-title {
  font-size: 30px;
  margin: 20px;
}

.form-button {
  font-size: 17px;
  margin: 10px;
  height: 1.8rem;
  width: 5rem;
}

.form-label {
  margin: 10px;
  font-size: 25px;
}

.form-select {
  margin: 10px;
  height: 2rem;
  width: 8rem;;
}