.nav-container {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  height: 12vh;
  width: 100vw;
  border: solid black 1px;
  background-color: #d5dded;
  box-shadow: .4em .4em .7em;
}


.nav-title {
  margin-left: 5%;
  font-size: 3.5rem;
}

.nav-button {
  margin-left: 60px;
  height: 2rem;
  width: 5rem;
  border: 1px solid darkblue;
  border-radius: 12px;
}
